<mat-card class="example-card">
      <h1>Classied text</h1>
      <form #classForm="ngForm" (ngSubmit)="onSubmit()">
      <h3>classification result</h3>
      <mat-form-field>
      <mat-select placeholder="Category" [(ngModel)] = "category" name = "cat" >
        <mat-option *ngFor = "let category of categories" [value]="category.name" name = "cat">{{category.name}}</mat-option>
      </mat-select>
    </mat-form-field>  
      <p >
        {{classifyService.doc}}
      </p>
      
    
    <div >
      <button mat-raised-button color="primary">Save</button>
    </div>
  </form>
  </mat-card>
